/*===================================
  Default Theme
  -----------------------------------
  Fonts: Montserrat,
         Raleway & Open Sans,
         Noto Sans JP,
         Heebo
  -----------------------------------
  Colors:
      Samurai Red:        #fd3c2f
      Gray:               #212226
      white Smoke:        #f4f4f4
      white:              #fff
      Black:              #000
===================================*/
/*===================================
              Html, body
===================================*/
html, body {
  height: 100%;
}

body {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

section {
  background: #fff;
  overflow: hidden;
}

/*===================================
              Content Boxes
===================================*/
.content-box-lg {
  padding: 0 0 120px 0;
}

.content-box-md {
  padding: 100px 0;
  margin: 0 20px 0 20px;
}

.content-box-sm {
  padding: 90px 0;
}

/*===================================
              Header
===================================*/
header {
  width: 100%;
  height: 72px;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

header img {
  width: auto;
  height: 27px;
  position: relative;
  left: 45px;
  bottom: 2px;
}

.contentArea-head p{
  position: relative;
  bottom: 30px;
  float: right;
  font-size: 14px;
  margin-right: 30px;
  font-weight: 400;
  color: #000;
}

.contentArea-head h3{
  padding: 30px 72px 30px 48px;
  position: relative;
  color: #fff;
  font-weight: bold;
  bottom: 76px;
  float: right;
  font-size: 14px;
  background: linear-gradient(137.99deg,#ff6900 0,red 100%);
}
.contentArea-head h3:hover {
  counter-reset: #fff;
}


/*===================================
          Contenet-text,img
===================================*/

#main-pic img {
  width: 100%;
  height: 250px;
}

/*===================================
              Portfolio
===================================*/
#portfolio {
  padding-bottom: 160px;
}
#heading-portfolio h1 {
  color: #fd3c2f;
  font-size: 28px;
  font-family: "Heebo", sans-serif;
  letter-spacing: .78px;
  font-weight: 800;
  letter-spacing: .78px;
}

#heading-portfolio h2 {
  color: #000;
  letter-spacing: .78px;
  font-family: "Noto Sans JP",sans-serif;
  font-weight: 900;
  letter-spacing: 1.3px;
}

#portfolio .vertical-heading {
  margin-bottom: 50px;
}

.row.no-gutters [class*=col-] {
  padding: 0;
  margin: 20px 10px 20px 10px;
}

.portfolio-item {
  overflow: hidden;
  position: relative;
}
.col-lg-4 {
  margin: 15px 0 15px 0;
}

/* Filters CSS */
#isotope-filters {
  margin-bottom: 10px;
  padding: 20px 25px 20px 0;
}

#isotope-filters button {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 600;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-right: 35px;
  outline: 0;
}

#isotope-filters button span {
  display: block;
  padding-bottom: 5px;
  -webkit-transition: border-color .4s ease-in-out;
  transition: border-color .4s ease-in-out;
}

#isotope-filters button.active span {
  color: #fd3c2f;
  border-bottom: 3px solid #fd3c2f;
}

.btn-danger {
  margin-top: 20px;
}

/* Zoom Effect */
.portfolio-item img {
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.portfolio-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Overlay  Effect */
.portfolio-item-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(14, 14, 17, 0.9);
  opacity: 0;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5s ease;
}

Overlay button Effect
.btn-link:hover, .btn-link:focus {
  text-decoration: underline; */
  background-color: transparent;
  outline: none;
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
  color: #fff;
}


/* Item Details Effect */
.portfolio-item-details {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.portfolio-item-details h3 {
  color: #fff;
  font-size: 30px;
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(-20%);
  transform: translateY(-20%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.portfolio-item-details span {
  display: inline-block;
  border-top: 1px solid #fd3c2f;
  border-bottom: 1px solid #fd3c2f;
  height: 6px;
  width: 30px;
  margin: 11px auto 5px auto;
}

.portfolio-item-details p {
  font-size: 17px;
  color: #fff;
  padding: 0;
  margin: 0;
  -webkit-transform: translateY(20%);
  transform: translateY(20%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* Show Overlay on mouse over */
.portfolio-item:hover .portfolio-item-details h3 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-details p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-overlay {
  opacity: 1;
}

/*===================================
              Footer
===================================*/

footer {
  width: 100%;
  height: 140px;
  background: #fff;
}

footer .contentArea {
  height: 100%;
}

footer img {
  width: auto;
    height: 27px;
    position: relative;
    bottom: 2px;
    margin-bottom: 12px;
}

footer small {
  display: block;
  font-size: 12px;
  letter-spacing: .13px;
  line-height: 1;
  color: rgba(0,0,0,.37);
}

footer nav ul {
  display: block;
  height: 100%;
}

.contentArea {
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  z-index: 1;
}

.contentArea h2 {
  margin-top: 0px;
  display: inline-block;
}

.clearfix {
  display: inline-block;
  float: right;
}
.clearfix li a {
  color: #000;
  text-decoration: none;
}

/* Scroll */
#toTopScroll.on {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: .8;
  right: 40px;
}
#toTopScroll {
  display: block;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  right: 100px;
  z-index: 999;
  background-color: #fd3c2f;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 50%;
}

#toTopScroll:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin: auto;
  border: 1px solid #fff;
  border-width: 0 15px 20px;
  border-color: transparent transparent #fff;
  position: absolute;
  top: 0;
  bottom: 5px;
  left: 0;
  right: 0;
}




