/*===================================
  Default Theme
  -----------------------------------
  Fonts: Montserrat,
         Raleway & Open Sans,
         Noto Sans JP,
         Heebo
  -----------------------------------
  Colors:
      Samurai Red:        #fd3c2f
      Gray:               #212226
      white Smoke:        #f4f4f4
      white:              #fff
      Black:              #000
===================================*/
/*===================================
              Html, body
===================================*/
html, body {
  height: 100%;
  background-color: #fff;
}
body {
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
section {
  background: #fff;
  overflow: hidden;
}

/*===================================
            Header
===================================*/
header {
  width: 100%;
  height: 72px;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
header img {
  width: auto;
  height: 27px;
  position: relative;
  left: 45px;
  bottom: 2px;
}
.contentArea-head p{
  position: relative;
  bottom: 30px;
  float: right;
  font-size: 14px;
  margin-right: 30px;
  font-weight: 400;
  color: #000;
}
.contentArea-head h3{
  padding: 30px 72px 30px 48px;
  position: relative;
  color: #fff;
  font-weight: bold;
  bottom: 76px;
  float: right;
  font-size: 14px;
  background: linear-gradient(137.99deg,#ff6900 0,red 100%);
}
.contentArea-head h3:hover {
  counter-reset: #fff;
}

/*===================================
              Content Boxes
===================================*/
.content-box {
  padding: 120px 0 0 0;
}
.content-box-lg {
  padding: 120px 0 0 0;
}
.content-box-md {
  padding: 120px 0 120px 0;
}
.content-box-sm {
  padding: 20px 0;
}

/*===================================
              HOME
===================================*/
#home-content {
  min-width: 100%;
  min-height: 800px;
  width: auto;
  height: auto;
  background: #000;
  height: 100%;
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)) fixed, url("../img/images/img3.png") no-repeat;
  background-size: cover;
  display: table;
}
#home-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
#home-content-inner {
  vertical-align: middle;
  display: table-cell;
}
#home-content-inner h1,
#home-content-inner h3 {
  display: inline-block;
}
#home-content-inner h3 {
  color: #fff;
  font-size: 26px;
  font-weight: 200;
  line-height: 10px;
  margin: 0 0 16px 0;
}
#home-content-inner h1 {
  color: #fff;
  margin: 5px 0 3px 0;
  font-size: 62px;
  letter-spacing: 15px;
  font-weight: 900;
}
#home-intro p {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 5px;
  font-size: 16px;
}
#home-intro p span,
#home-heading-1 span,
#profile-right h3 span {
  color: #fd3c2f;
}
#home-heading-1 {
  font-size: 28px;
  color: #fff;
  display: inline-block;
}

/*===================================
              Content
===================================*/
/* Contents-1 */
#contents h1 {
  color: #000;
  font-family: "Heebo", sans-serif;
  font-size: 40px;
  font-weight: 800;
  margin-top: 0; 
}
#contents h1 span {
  color: #fd3c2f;
}
#contents h2,
#content-1 h2,
#content-2 h2 {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 80px;
}
.platform-card-holder {
  display: flex;
  justify-content: space-between;
  padding: 68px 65px 0;
  margin-bottom: 60px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0 12px 60px 0 rgba(0,0,0,.11);
}
.browser-top-1 img,
.browser-top-2 img {
  width: 430px;
  height: 230px;
}
.btn-lg, .btn-group-lg > .btn {
  background-color: #fd3c2f;
  border-radius: 23px;
  color: #fff;
  margin-right: 30px;
}
.card-holder-info-1 p,
.card-holder-info-2 p {
  color: #000;
  font-size: 32px;
  padding-bottom: 30px;
}
.contents-2 img {
  width: 100%;
  height: 450px;
}

/* Contents-2 */
#contents-2 h1,p,h2 {
  color: #000;
}
#contents-2 h1 {
  padding: 40px 0 0 40px;
  font-family: "Heebo", sans-serif;
  font-size: 40px;
  font-weight: 800;
}
#contents-2 h1 span {
  color: #fd3c2f;
}
#contents-2 p {
  padding: 20px 0 0 40px;
  font-size: 18px;
}
/* Icons */
#icons {
  color: #000;
  text-align: center;
  font-size: 50px;
  padding-top: 40px;
}
.icon i {
  transition: all 400ms linear;
}
.icon-text h3 {
  color: #000;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  letter-spacing: 1.5px;
}
.icon:hover i {
  color: #fd3c2f;
  transform: translateY(-20px);
}
/* Contents-3 */
#contents-3 {
  background-color: #f4f4f4;
}
.team-member {
  background-color: #fff;
  padding: 80px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.team-member hr {
  width: 45px;
  height: 3px;
  background-color: #fd3c2f;
  margin: 0 auto;
  border: none;
}
.team-member p {
  padding-top: 20px;
}
.team-member img {
  border-radius: 2rem 4rem 2rem 4rem;
  width: 100px;
  height: auto;
  -webkit-border-radius: 2rem 4rem 2rem 4rem;
  -moz-border-radius: 2rem 4rem 2rem 4rem;
  -ms-border-radius: 2rem 4rem 2rem 4rem;
  -o-border-radius: 2rem 4rem 2rem 4rem;
}
/* Social media Buttons */
.follow-me {
  list-style: none;
  margin: 0 0 -8px;
  overflow: hidden;
  padding: 0;
  display: inline-flex;
}
.follow-me li {
  float: left;
  padding-top: 20px;
}
.follow-me li a::before {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 44px;
  /*Buttonheight*/line-height: 44px;
  /*Buttonheight*/-webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
  width: 44px;
   /* Button width */:;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.follow-me li a:hover::before {
  opacity: 0.7;
}
.follow-me li a[href*="facebook.com"]::before       { background-color: #3b5998; content: "\f09a"; }
.follow-me li a[href*="plus.google.com"]::before    { background-color: #dc4e41; content: "\f0d5"; }
.follow-me li a[href*="twitter.com"]::before        { background-color: #55acee; content: "\f099"; }
/*===================================
              Pictures
===================================*/
/*CREDITS TO UNSPLASH*/
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700);
* {
  margin:0;
  padding:0;
  list-style:none;
  text-decoration:none;
  box-sizing:border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  background: #eaeaea;
  font-family: 'Josefin Slab', serif;
}
.perspective {
  width: 100%;
  height: 100%;
  perspective:1000px;
  transform-style: preserve-3d;
}
.wrapper {
  transform-style: preserve-3d;
  margin: 0 auto;
  width:100%;
  height:100%;
  transition: 1s all ease-in-out;
  -webkit-transition: 1s all ease-in-out;
  display:flex;
}
.wrapper li {
  flex-grow: 1;
  opacity:0.8;
  padding:150px 0;
  font-size:56px;
  transition: 1s all ease-in-out;
  -webkit-transition: 1s all ease-in-out;
  text-align:center;
  color:#fff;
  cursor:pointer;
  background-size:cover !important;
}
.wrapper li:nth-of-type(1) {
  background: url(https://images.unsplash.com/photo-1526234172573-67cabe4ebc80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center;
}
.wrapper li:nth-of-type(2) {
  background: url(https://images.unsplash.com/photo-1473081556163-2a17de81fc97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center;
}
.wrapper li:nth-of-type(3) {
  background: url(https://images.unsplash.com/photo-1519091830432-41608a52904e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center;
}
.wrapper li:nth-of-type(4) {
  background: url(https://images.unsplash.com/photo-1523730205978-59fd1b2965e3?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60) no-repeat center center;
}
.wrapper li:nth-of-type(5) {
  background: url(https://images.unsplash.com/photo-1503631285924-e1544dce8b28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center;
}
.wrapper li:nth-of-type(6) {
  background: url(https://images.unsplash.com/photo-1525663018617-37753d540108?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center;
}
.plier {
  transform: rotateX(20deg);
  transform-origin:bottom;
}
.wrapper li.active {
  transition-delay:1.2s;
}
.active{
  transform: rotateX(0deg);
  transform-origin:bottom;
  flex-grow: 30 !important;
  cursor:default;
  opacity:1 !important;
}
#pictures h1 {
  color: #000;
  padding-bottom: 30px; 
  font-family: "Heebo", sans-serif;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 3px;
}
/*===================================
             Footer
===================================*/
footer {
  background: #212226;
  padding: 30px;
}
footer p {
  color: #fff;
  line-height: 20px;
}
footer p span {
  color: #fd3c2f;
}
/*===================================
             Animation
===================================*/
#home-heading-1 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
#home-heading-2 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
#home-intro {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
#home-text {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
#contents-1 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
#contents-2 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}